<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html'%}
</head>
<body style="color: white;">
<div class="container mt-5">
    <div class="">
        <h1>Welcome to ARD_Bank</h1>
        <p class="lead">We provide secure and convenient banking solutions for your financial needs.</p>
        <hr class="my-4">
        <h1>About Us</h1>
        <p>Learn more about our services and how we can assist you in achieving your financial goals.</p>        
    </div>
</div>
{% include 'footer.html'%}
</body>
</html>
